# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store

# Local env files
*.local
*.local.json

# Logs
*.log

# Use the pnpm
package-lock.json
yarn.lock

# Agent data
.omc
.agents/skills/*
!.agents/skills/v3-*/
pnpm-workspace.yaml
.cursor/mcp.json
.vscode/mcp.json
types/auto/auto-imports.d.ts
types/auto/components.d.ts
types/auto/svg-component-global.d.ts
types/auto/svg-component.d.ts
